@page
@model RentalManagementSystem.Pages.SubMeters.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubMeter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubMeter.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubMeter.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubMeter.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubMeter.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubMeter.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubMeter.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubMeter.Reading)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubMeter.Reading)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubMeter.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubMeter.Rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubMeter.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubMeter.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubMeter.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubMeter.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubMeter.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubMeter.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SubMeter?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
