@page
@model RentalManagementSystem.Pages.Buildings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Building</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Building.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Building.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Building.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Building.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Building.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Building.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Building.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Building.Rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Building.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Building.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Building.Meter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Building.Meter.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Building.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Building.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Building.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Building.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Building.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Building.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Building?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
