@page
@model RentalManagementSystem.Pages.Flats.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.Rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.Building)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.Building.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.SubMeter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.SubMeter.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Flat?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
