@page
@model RentalManagementSystem.Pages.Meters.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meter.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meter.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meter.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meter.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meter.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meter.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meter.Reading)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meter.Reading)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meter.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meter.Rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meter.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meter.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meter.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meter.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meter.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meter.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Meter?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
