@page
@model RentalManagementSystem.Pages.Tenants.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tenant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.FlatId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.FlatId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.RoomId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.RoomId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Building)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Building.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Flat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Flat.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Room.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tenant?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
